body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ff0000;
    margin-top: 30px;
}

.box {
    background-color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}   

button {
    background-color: #ffffff;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}   

button:hover {
    background-color: #38853c;
}
