body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /*hela bakgrunden*/
    color: #ece6e6; /*"Välj ditt program*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #000000; /*"Plannera din master*/
    margin-top: 30px;
}
/* */
.box {
    background-color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
.text-ruta {
  background: white;
  padding: 24px;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


